[a > 9][a <= 10] {
    fill: #1b842f;
}
[a > 8][a <= 9] {
    fill: #1b842f;
}
[a > 7][a <= 8] {
    fill: #1b842f;
}
[a > 6][a <= 7] {
    fill: #1b842f;
}
[a > 5][a <= 6] {
    fill: #1a832e;
}
[a > 4][a <= 5] {
    fill: #509d2b;
}
/* Test succeeds when starting comment at the next line instead of line 23 */
[a > 3][a <= 4] {
    fill: #a6b757;
}
/*[a > 2][a <= 3] {
    fill: #fde801;
}
[a > 1][a <= 2] {
    fill: #e5a100;
}*/
/*[a > 0][a <= 1] {
    fill: #df6019;
}*/
[b = 'C'] {
    fill: #ce2e20;
}
